@media only screen and (min-width: 1200px){
	html {
		font-size: 13px !important;
	}
}
@font-face { 

	font-family: 'Helvetica-Condensed-Light';
	src: url('../fonts/helvetica/Helvetica-Condensed-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/helvetica/Helvetica-Condensed-Light.otf')  format('opentype'),
	url('../fonts/helvetica/Helvetica-Condensed-Light.woff') format('woff'), url('../fonts/helvetica/Helvetica-Condensed-Light.ttf')  format('truetype'), url('../fonts/helvetica/Helvetica-Condensed-Light.svg#Helvetica-Condensed-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face { 

	font-family: 'HelveticaLt';
	src:   url('../fonts/helvetica/HelveticaLt.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/monse/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/monse/Montserrat-Regular.otf')  format('opentype'),
	url('../fonts/monse/Montserrat-Regular.woff') format('woff'), url('../fonts/monse/Montserrat-Regular.ttf')  format('truetype') ;
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/monse/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/monse/Montserrat-Medium.otf')  format('opentype'),
	url('../fonts/monse/Montserrat-Medium.woff') format('woff'), url('../fonts/monse/Montserrat-Medium.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

.row{
	margin-bottom: 10px !important;
}
#modal1{
	max-height: 90% !important;
	top: 6% !important;
}

.tabla_universidad_resultados tr th{
	text-align: left !important;
}

.pasos{
	cursor: pointer;
}

.borde_1{
	border: 3px solid #979797;
	box-shadow: inset 0px 0px 0px 16px #000000;
}

body{
	/*background: #9a9a9a; */
	/* font-family: 'Montserrat', sans-serif;*/
	/* font-family: 'Helvetica-Condensed-Light';*/
	font-family: 'Montserrat-Regular' !important;
}

.fondoRojo {
	background-color:#003057;
	text-align:center;
	height:90px;
	color: #fff;
}

.itemConsigna{
	text-align: center !important;
}

.fondoPlomoObscuro {
	background-color:#58585A; 
	text-align:center;
	color: #fff;
}
.fondoPlomoClaro {
	background-color:#D2DB0D;
	text-align:center;
}

#divPregunta{
	color: #ffffff;
	text-align: center !important;
}
#divRespuestas{
	margin-top: -20px;
}

.fondo_azul_claro{
	background: #DDE3EC;
}

.tituloMenuDer {
	width: 100%;
	height: 45px;
	background: #d2db0d;
	float: left;
	border: 0px solid #444;
	text-align: center;
}

.tabla_ajuste td{

	padding: 3px 5px;

}
.ajuste_n1{
	font-size: 15px;
	margin-right: 27px;

}


.ajuste_padding_top{
	padding-top: 18px !important;
}
.borde_top{
	border-top: 1px solid !important; 
}
.cuadro_pregunta_1{
	background-color: #FFF;
	width: 100%;
	border: 1px solid #ccc;
	display: block;
	margin-bottom: 4px;
	padding: 9px 11px;
	text-align: left;
	border-radius: 6px;
}

.boton_reinicio{
	color: #003057;
	font-size: 46px !important;
	cursor: pointer !important;
	user-select: none;
}
.paneles select {
	height: 42px;
	margin-bottom: 6px;
	width: 54px;

	background: #dde3ec;
}
.tituloMenuDer span {
	position: relative;
	top: 15px;
	vertical-align: middle;
}

.titulo {
	font-size: 22px;
	font-weight: bold;

	color: #FFFFFF;
}

.tituloMenu {
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
}

.fondoBlanco {
	background-color: #FFFFFF;
	text-align: center;
}


.num_cirulos {
	background-color: #d2db0d;
	border-radius: 360px;
	cursor: pointer;
	height: 32px;
	text-align: center;
	width: 32px;
}
.num_cirulos span {
	position: relative;
	top: 8px;
	color: #FFF;
}
.sortable-item2 {
	background-color: #FFF;
	border: 0px solid #000;
	display: block;
	font-weight: bold; 
	padding: 5px 0;
	text-align: left;
}

.textVerde#mas {
	color: #58585a;
	position: relative;
	top: 31px;
	left: 10px;
}

.textVerde {
	font-size: 36px;
	font-weight: bold;
	top: -36px;
	left: 14px;
	position: relative;
}

tr {
	border-bottom: none;
}

.itemRespuesta {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	width: 790px;
}

.sortable-item {
	background-color: #FFF;
	width: 100%;
	border: 1px solid #ccc;
	cursor: ns-resize;
	display: block;
	margin-bottom: 4px;
	padding: 9px 11px;
	text-align: left;
	border-radius: 6px;
}
.itemRespuesta {
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	width: 790px;
}

.tabla_1 td, th {
	padding: 0px;
}


.sortable-list {
	list-style: none;
	margin: 2px 2px 2px 2px;
	min-height: 60px;
	padding: 0px 15px;
}


.tabla_1 td, th{
	padding: 0px;
}

.numeros{
	text-align: center;
}
.numeros div{
	padding: 13px;	
}
.boxMoradoStep {
	width: 25%;
	height: 50px;
	background: #702A82;
	float: left;
	border: 0px solid #444;
}
.boxAmarillo {
	width: 25%;
	height: 50px;
	background: #FDC62E;
	float: left;
	border: 0px solid #444;
}

.fondo_azul_1{
	background: #dde3ec;
	color: #58585a;
}

.boxPlomoClaro {
	width: 25%;
	height: 50px;
	background: #6D6E71;
	float: left;
	border: 0px solid #444;
}

.boxPlomo {
	width: 25%;
	height: 50px;
	background: #DDE3EC;
	color: #6D6E71;
	float: left;
	border: 0px solid #444;
}

.texto_gris{
	color: #6D6E71;


}
.fondo_azul{

	background:#DDE3EC;
	border-right: 1px solid #58585a;
}

.fondo_azul2{

	background:#DDE3EC;
}

.cuadros_gris{
	background: #003057;
}

.cuadros_gris span{
	color: #FFFFFF;
}

.container{

	max-width: 800px;
	padding: 10px;
	margin-bottom: 100px !important;

}

.bordes{
	border-bottom: 1px solid #0085b0;
	border-top: 1px solid #0085b0;
	margin-bottom: 0px  !important;

}


.ajuste_gris{
	background: #EFEFEF;

	height: 80px;

	display: table-cell;
	vertical-align: middle;

	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
	padding-top: 30px !important;

}


.ajuste_padding_top_2{
	padding-top: 17px !important;
}


.circulo {
	height: 22px;
	width: 22px;
	background-color: #D1D1D1;
	border-radius: 50%;
	display: inline-block;
	color: #ffffff;
	cursor:pointer;
	margin-left: 10px;
}
.ajuste-padding-top{ 
	font-size: 13px;
	padding-top: 28px !important;
}



.titulo_azul{
	color: #0085B0;
	font-size: 49px;
	font-weight: bold;	


}

.texto_azul_2{
	color: #0085B0; 
	font-family: 'Montserrat-Medium';
}

.fondo_verde{
	background: #DDDD33;
	color: #000000;
	padding: 10px !important;
	border-radius: 10px;
	user-select: none;
}
.esquinas1{ 
	border-radius: 10px 0px 0px;
}
.esquinas2{ 
	border-radius: 0px 10px 0px 0px;
}

.input_borde{
	background: #fff !important;
	border-bottom: 2px solid #0085B0 !important;
}
.gris{
	font-size: 19px !important;
	color: #606060 !important; 
	margin-left: 0 !important;
}
.azul_fondo{
	background: #033156;
	color: #fff;
}

nav ul a{			
	color: #000 !important;
	margin-top: -15px;
	margin-bottom: -15px;
}

.borde_azul{
	border-right: 2px solid #0085b0;
}

nav ul a:hover{			
	color: #0085B0 !important;
	background: none; 
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{

	height: 37px;
}

.centrar_vertical{
	margin: auto;
	width: 50% !important;
	border: 3px solid #033156;
	padding: 10px !important;
}

.ajuste_menos{
	margin-left: 18px;

	font-family: sans-serif;
	font-size: 33px;
}
.ajuste_mas{
	float: right;
	margin-right: 62px;
	font-family: sans-serif;
	font-size: 33px;
}

.ajuste_circulo{
	margin-left: 7px;
	margin-top: 0px;
}
.ajuste_circulo2{
	margin-left: 7px;
	margin-top: 0px;
}

.ajuste_circulo3{
	margin-top: 1px;
	text-align: center;
}
.ajuste_top_1{
	margin-top: -17px;


}

.ajuste_bottom_1{
	margin-bottom: 2px;
}

.borde_lados{

	border-right: 1px solid #444;
}

.pantalla_registro,.pantalla_login ,.pantalla_recuperar ,.mensaje_ok,.mensaje_mal{
	background: #e7e8eaf2;
	padding: 0px 31px;
	border-radius: 9px;
	width: 400px;
	margin-top: 24%;
}

.progress .indeterminate{
	background-color: #d2d931 !important;
}
.progress{
	background-color: #0085b0 !important;
}

::placeholder {
	color: #898989;
	font-size: 0.8em; 
}
/*
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
	background: #DDE3EC;
	border: none;
	padding-left: 10px;
	margin-bottom: -2px;
	height: 29px;
	font-family: 'Montserrat-Regular' !important;
	}*/


	input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label{
		
		font-family: 'Montserrat-Regular' !important;
	}

	.mano{
		cursor:pointer;
	}
	.fondoAzul{
		background: #3F51B5;
		color: #fff;
		padding: 10px;
		border-radius: 9px 9px 0px 0px;
	}


	.fondoAmarillo{
		background: #EBC300;
		color: #fff;
		padding: 10px;
	}

	.fondo_amarillo{
		background: #D2D931;
		width: 125px;
		padding: 10px;
	}

	.tabla1 input , .tabla2 input, .tabla3 input{
		background: #fff !important;
	}

	.fondo_morado{
		
		background: #033156;
		color: #fff;
	}

	.input-field{			  
		
	}

	.dropdown-content li>a, .dropdown-content li>span{
		color: #0080a4 !important;
	}
	.select-dropdown{
		font-size: 13px !important; 
		color: #898989;
	}

	input[type="date"]:before {
		content: attr(placeholder) !important;
		
		margin-right: 0.5em;
	}

	input[type="date"]:focus:before,
	input[type="date"]:valid:before {
		content: "";
	}

	input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
		border-bottom: 1px solid #0080a4 !important;
		-webkit-box-shadow: 0 1px 0 0 #0080a4 !important;
		box-shadow: 0 1px 0 0 #0080a4 !important;
		
	}

	input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
		
		color: #0080a4 !important;

	}

	.btn, .btn-large, .btn-small{
		background-color: #0080a4  !important;
	}

	.oculto{
		display: none ;
	}

	#codigo {
		/*text-transform: uppercase;*/
	}


	@media only screen and (max-width: 1400px) {
		.ajuste_gris{
			height: 80px;

		}
		
		
	}

	.parpadea {
		
		animation-name: parpadeo;
		animation-duration: 1s;
		animation-timing-function: linear;
		
		-webkit-animation-name:parpadeo;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: linear;
	}


	@-moz-keyframes parpadeo{  
		0% { opacity: 1.0; }
		50% { opacity: 0.0; }
		100% { opacity: 1.0; }
	}

	@-webkit-keyframes parpadeo {  
		0% { opacity: 1.0; }
		50% { opacity: 0.0; }
		100% { opacity: 1.0; }
	}

	@keyframes parpadeo {  
		0% { opacity: 1.0; }
		50% { opacity: 0.0; }
		100% { opacity: 1.0; }
	}



	div[data-name]:before {
		content: attr(data-name);
	}


	@media print {


		div[data-name]:before {
			content: attr(data-name);
		}

	}

	.popper,
	.tooltip {
		position: absolute;
		z-index: 9999;
		background: #FFC107;
		color: black;
		width: 150px;
		border-radius: 3px;
		box-shadow: 0 0 2px rgba(0,0,0,0.5);
		padding: 10px;
		text-align: center;
	}
	.style5 .tooltip {
		background: #1E252B;
		color: #FFFFFF;
		max-width: 200px;
		width: auto;
		font-size: .8rem;
		padding: .5em 1em;
	}
	.popper .popper__arrow,
	.tooltip .tooltip-arrow {
		width: 0;
		height: 0;
		border-style: solid;
		position: absolute;
		margin: 5px;
	}

	.tooltip .tooltip-arrow,
	.popper .popper__arrow {
		border-color: #FFC107;
	}
	.style5 .tooltip .tooltip-arrow {
		border-color: #1E252B;
	}
	.popper[x-placement^="top"],
	.tooltip[x-placement^="top"] {
		margin-bottom: 5px;
	}
	.popper[x-placement^="top"] .popper__arrow,
	.tooltip[x-placement^="top"] .tooltip-arrow {
		border-width: 5px 5px 0 5px;
		border-left-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		bottom: -5px;
		left: calc(50% - 5px);
		margin-top: 0;
		margin-bottom: 0;
	}
	.popper[x-placement^="bottom"],
	.tooltip[x-placement^="bottom"] {
		margin-top: 5px;
	}
	.tooltip[x-placement^="bottom"] .tooltip-arrow,
	.popper[x-placement^="bottom"] .popper__arrow {
		border-width: 0 5px 5px 5px;
		border-left-color: transparent;
		border-right-color: transparent;
		border-top-color: transparent;
		top: -5px;
		left: calc(50% - 5px);
		margin-top: 0;
		margin-bottom: 0;
	}
	.tooltip[x-placement^="right"],
	.popper[x-placement^="right"] {
		margin-left: 5px;
	}
	.popper[x-placement^="right"] .popper__arrow,
	.tooltip[x-placement^="right"] .tooltip-arrow {
		border-width: 5px 5px 5px 0;
		border-left-color: transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
		left: -5px;
		top: calc(50% - 5px);
		margin-left: 0;
		margin-right: 0;
	}
	.popper[x-placement^="left"],
	.tooltip[x-placement^="left"] {
		margin-right: 5px;
	}
	.popper[x-placement^="left"] .popper__arrow,
	.tooltip[x-placement^="left"] .tooltip-arrow {
		border-width: 5px 0 5px 5px;
		border-top-color: transparent;
		border-right-color: transparent;
		border-bottom-color: transparent;
		right: -5px;
		top: calc(50% - 5px);
		margin-left: 0;
		margin-right: 0;
	}

	.parpadea {
		
		animation-name: parpadeo;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;

		-webkit-animation-name:parpadeo;
		-webkit-animation-duration: 1s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-iteration-count: infinite;
	}

	@-moz-keyframes parpadeo{  
		0% { opacity: 1.0; }
		50% { opacity: 0.0; }
		100% { opacity: 1.0; }
	}

	@-webkit-keyframes parpadeo {  
		0% { opacity: 1.0; }
		50% { opacity: 0.0; }
		100% { opacity: 1.0; }
	}

	@keyframes parpadeo {  
		0% { opacity: 1.0; }
		50% { opacity: 0.0; }
		100% { opacity: 1.0; }
	}