	
	@font-face { 
	  
	  font-family: 'Helvetica-Condensed-Light';
  src: url('../fonts/helvetica/Helvetica-Condensed-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/helvetica/Helvetica-Condensed-Light.otf')  format('opentype'),
	     url('../fonts/helvetica/Helvetica-Condensed-Light.woff') format('woff'), url('../fonts/helvetica/Helvetica-Condensed-Light.ttf')  format('truetype'), url('../fonts/helvetica/Helvetica-Condensed-Light.svg#Helvetica-Condensed-Light') format('svg');
  font-weight: normal;
  font-style: normal;
	}
	@font-face { 
	  
	  font-family: 'HelveticaLt';
  src:   url('../fonts/helvetica/HelveticaLt.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
	}


body{
			    background: #9a9a9a; 
	 font-family: 'Montserrat', sans-serif;
	 font-family: 'Helvetica-Condensed-Light';

		}
		
		.container{
			    background: white;
				border: 0px solid;
				width: 85%;
				padding: 50px;
				margin-top: 34px !important;
				margin-bottom: 34px !important;
				    
		}
		
		.bordes{
			    border-bottom: 1px solid #0085b0;
				border-top: 1px solid #0085b0;
				 margin-bottom: 0px  !important;
			 
		}
		
		
		.ajuste_gris{
			    background: #EFEFEF;
				padding-top: 3px !important;
				padding-bottom: 3px !important;
				
				  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
		}
		.circulo {
		  height: 22px;
		  width: 22px;
		  background-color: #D1D1D1;
		  border-radius: 50%;
		  display: inline-block;
		  color: #ffffff;
		  cursor:pointer;
		  margin-left: 10px;
		}
		.ajuste-padding-top{
			padding-top: 3px !important;
		}
		
		.ajuste_menos{
			margin-left: 18px;
		}
		.ajuste_mas{
			float:right;
			margin-right: 72px;
		}
		
		.ajuste_circulo{
			    margin-left: 7px;
				margin-top: 0px;
		}
		.ajuste_circulo2{
			    margin-left: 7px;
				margin-top: 0px;
		}
		
		.mano{
			cursor:pointer;
		}
		  .fondoAzul{
				background: #0080a4;
				color: #fff;
				padding: 10px;
		  }
		  
		  .fondoAmarillo{
				background: #EBC300;
				color: #fff;
				padding: 10px;
		  }
		  
		  .input-field{			  
				margin-top: 0.4rem !important;
				margin-bottom: 0.4rem !important;
		  }
		  
		  .dropdown-content li>a, .dropdown-content li>span{
			      color: #0080a4 !important;
		  }
		  
		 input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
			  border-bottom: 1px solid #0080a4 !important;
    -webkit-box-shadow: 0 1px 0 0 #0080a4 !important;
    box-shadow: 0 1px 0 0 #0080a4 !important;
			  
		  }
		  
		  input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
			  
			  			      color: #0080a4 !important;

		  }
		  
		  .btn, .btn-large, .btn-small{
			  background-color: #0080a4  !important;
		  }
		  
		  .oculto{
			  display: none ;
		  }
		  
		  #codigo {
			text-transform: uppercase;
		}
		  